@model GetDestinationByIdQueryResult
@{
    ViewData["Title"] = "GetDestination";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Reservation Edit page</h1>
<form method="post">
    <input type="hidden" asp-for="DestinationId"/>
    <label>City</label>
    <input type="text" asp-for="City" class="form-control"/>
    <br />
    <label>Day Night</label>
    <input type="text" asp-for="DayNight" class="form-control" />
    <br />
    <label>Price</label>
    <input type="text" asp-for="Price" class="form-control" />
    <br />
    <button class="btn btn-outline-success">Location Update</button>
</form>
