@{
    ViewData["Title"] = "GetCityDestID";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Get City ID for Booking Hotels</h1>
<br />
<form method="post">
    <label>Write City Name</label>
    <input type="text" class="form-control" name="p" />
    <br />
    <button class="btn btn-outline-primary">Get City Id</button>
</form>