@model List<ApiMovieViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Api IMDB TOP 100 Movies List</h1>
<table class="table table-striped">
    <tr>
        <th>#</th>
        <th>Movie Name</th>
        <th>IMDB Point</th>
        <th>Year</th>
        <th>Trailer</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.rank</td>
            <td>@item.title</td>
            <td>@item.rating</td>
            <td>@item.year</td>
            <td><a href="#" class="btn btn-outline-dark">Watch</a></td>
        </tr>
    }
</table>
